{{--
@types {
  activePage: string
}
--}}
<nav>
  <a href="/" class="{{ activePage === 'home' ? 'active' : '' }}">Home</a>
  <a href="/profile" class="{{ activePage === 'profile' ? 'active' : '' }}">Profile</a>
</nav>
