{{--
@name Form
@desc Form container with field spacing.
@types {
  action?: string
  method?: 'get' | 'post'
  [attr: string]: unknown
}
--}}
<form {{
  html.attrs({
    class: 'form',
    ...(action ? { action } : {}),
    ...(method ? { method } : {}),
  })
}}>
  {{{ await $slots.main() }}}
</form>
