{{--
@name Input Group
@desc Input with inline addons (icons, text, buttons).
@types {
  // Additional HTML attributes forwarded to the root .input-group wrapper.
  [attr: string]: unknown
}
--}}
<div {{ html.attrs({ class: 'input-group' }) }}>
  {{{ await $slots.main() }}}
</div>
