{{--
@name Progress
@desc Progress bar indicator.
@types {
  // Current progress value on the progress element when defined.
  value?: number
  // Maximum value on the progress element when defined.
  max?: number
  // Additional HTML attributes forwarded to the progress element.
  [attr: string]: unknown
}
--}}
<progress {{
  html.attrs({
    class: 'progress',
    ...(value !== undefined ? { value } : {}),
    ...(max !== undefined ? { max } : {}),
  })
}}></progress>
