{{--
@name Scrollbar
@desc Scrollable region with custom scrollbar styling.
@types {
  // Additional HTML attributes forwarded to the scrollable .scrollbar wrapper.
  [attr: string]: unknown
}
--}}
<div {{ html.attrs({ class: 'scrollbar' }) }}>
  {{{ await $slots.main() }}}
</div>
