{{--
@name Skeleton
@desc Loading placeholder skeleton.
@types {
  // Additional HTML attributes forwarded to the loading .skeleton placeholder div.
  [attr: string]: unknown
}
--}}
<div {{ html.attrs({ class: 'skeleton' }) }}>
  {{{ await $slots.main() }}}
</div>
